body {
    background-image: url("https://images.rawpixel.com/image_1000/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3JtMjE4YmF0Y2gxMC1hdW0tMTcuanBn.jpg");
    background-size: cover;
    background-color: black;
}

  * {
    text-align: center;
  }

  h1 {
    font-family:Arial, Helvetica, sans-serif;
    color: whitesmoke;
  }

  h2 {

  }