body {
    background-image: url("https://images.rawpixel.com/image_1000/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3JtMjE4YmF0Y2gxMC1hdW0tMTcuanBn.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-size: auto;
}

  * {
    text-align: center;
  }

  h1 {
    font-family:Arial, Helvetica, sans-serif;
    color: whitesmoke;
    font-size: 63px;
  }

  h2 {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 35px;
    color: whitesmoke;
  }

  h3 {
    font-family:Arial, Helvetica, sans-serif;
    color: whitesmoke;  
    margin-left: 25%;
    margin-right: 25%;
    font-size: 18px;
    letter-spacing: 1px;
  }

  
  button {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: whitesmoke;  
    background-color: rgb(141, 0, 134);
    size: 80px;
    padding: 15px, 32px;
    text-align: center;
  }

  img {
    size: 40px;
    text-align: center;
  }